.config/*
!.config/fish
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/fishd.*
.config/fish/fisher
.config/fish/functions/fisher.fish
!.config/git
!.config/nvim
!.config/vscode
.tmux/*
!.tmux/plugins
.tmux/plugins/*
!.tmux/plugins/.keep
.vim/*
!.vim/indent
!.vim/init.vim
bin/*
!bin/.keep
