.config/*
!.config/fish
.config/fish/fish_variables
.config/fish/fishd.*
.config/fish/fisher/*
!.config/fish/fisher/fishfile
.config/fish/functions/fisher.fish
!.config/git
!.config/nvim
.vim/.netrwhist
.vim/plugged
