.config/*
!.config/fish/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/fisher/
!.config/git/
!.config/nvim/
!.config/tmux/
!.config/zsh/
.config/zsh/*
!.config/zsh/.zimrc
!.config/zsh/.zlogin
!.config/zsh/.zshrc
!.config/zsh/abbreviations
!.config/zsh/functions/
.vim/*
!.vim/indent/
!.vim/init.vim
bin/*
!bin/.keep
