.config/*
!.config/ghostty/
.config/ghostty/*
!.config/ghostty/config
!.config/git/
!.config/herdr/
.config/herdr/*
!.config/herdr/config.toml
!.config/ideavim/
!.config/memo/
.config/memo/_posts
!.config/nvim/
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/tmux/
!.config/wezterm/
!.config/zsh/
.config/zsh/*
!.config/zsh/.zimrc
!.config/zsh/.zlogin
!.config/zsh/.zshenv
!.config/zsh/.zshrc
!.config/zsh/abbreviations
!.config/zsh/functions/
.vim/*
!.vim/indent/
!.vim/vimrc
