"*":
  core:
    disabledPackages: [
      "exception-reporting"
      "vim-mode"
      "minimap-cursorline"
      "minimap"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  linter:
    showErrorPanel: false
  "linter-eslint": {}
  minimap:
    plugins:
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    tabLength: 4
